.btn-primary {
  background-color: #095d7e !important;
}

.bg-primary {
  background-color: #095d7e !important;
}

.bg-secondary {
  background-color: #f1f9ff !important;
}

.sb-sidenav-dark {
  background-color: #14967f !important;
}

.sb-sidenav-footer {
  background-color: #14967f !important;
}
